apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.api.name }}
spec:
  type: LoadBalancer
  ports:
  - port: {{ .Values.api.port }}
    targetPort: {{ .Values.api.port }}
    protocol: TCP
  selector:
      app: {{ .Values.api.name }}
